<h1>sessions sign in</h1>

<form action="<%=session_url%>" method="post">
  <label>Name
    <input id='name' type="text" name="user[name]" value="">
  </label>
  <label>Password
    <input type="text" id='password' name="user[password]" value="">
  </label>

  <input type="submit" value="Log In">

</form>
