<h1>New User</h1>

<form action="<%=users_url%>" method="post">
  <label>Name
    <input id='name' type="text" name="user[name]" value="">
  </label>
  <label>Password
    <input type="text" id='password' name="user[password]" value="">
  </label>

  <input type="submit" value="Sign Up">

</form>
